@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

$magenta: #0fa5af;
$shadow: #18a8b2;
$hover: #20d5e2;
$font: #18a8b2;
$backg: #eeeeee;
$text: #4c4c4c;
$white: #fff;